/**
 * _btn.scss
 * 
 * Displays an element as a button.
 *
 * Should mainly be used on <button>, <input type="button|submit|reset">, and
 * <a>.
 */



.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  border: 1px solid transparent;

  padding: .5em 1em;
  outline: none;

  font-weight: 400;
  line-height: 1;

  background: color(button, neutral);

  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: color(font, base);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: darken(color(button, neutral), 5%);
  }

  &:active {
    background-color: darken(color(button, neutral), 10%);
  }

  // Icons in buttons have margin to push them away from the text.
  .icon {
    margin-left: .5em;
  }

  // Reversed icons are on the other side of the text.
  .icon--reversed {
    float: left;
    margin-left: 0;
    margin-right: .5em;
  }

}



// Primary buttons (primary action, like 'submit').
.btn--primary {

  &,
  &:link,
  &:visited {
    color: color(brand, light);
    background: color(button, primary);
  }

  &:hover,
  &:focus {
    color: color(brand, light);
    background: darken(color(button, primary), 5%);
  }

  &:active {
    color: color(brand, light);
    background: darken(color(button, primary), 10%);
  }

}



// Secondary buttons (secondary action, like 'cancel').
.btn--secondary {

  &,
  &:link,
  &:visited {
    background: color(button, secondary);
  }

  &:hover,
  &:focus {
    background: darken(color(button, secondary), 5%);
  }

  &:active {
    background: darken(color(button, secondary), 10%);
  }

}
