/**
 * _container.scss
 * 
 * The container object.
 *
 * A flexible container to wrap elements in. By default doesn't have a width,
 * use a wrapper for this instead.
 */



.container {
  margin-left: auto;
  margin-right: auto;
  padding: $padding;
}



// Unpadded container.
.container--unpadded {
  padding: 0;
}
