/**
 * _typography.scss
 * 
 * Contains all base typographic styles.
 *
 * Should not be used for layouts, except margins and padding that tie in with
 * typography directly.
 */
$fonts: 'Open Sans', 'Helvetica', 'Arial', sans-serif;



// Global.
html {
  font-size: 100%;
}



// Document.
body {
  color:       color(font, base);
  font-family: $fonts;
  font-size:   1em;
  font-weight: 400;
  line-height: 1.4;
}



// Headings.
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 1rem;

  font-family: $fonts;
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.2rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.45rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

.subheading {
  margin-top: -.5rem;
}



// Paragraphs.
.lead {
  font-size: 1.2rem;
}



// Lists.
ul,
ol {
  margin: 2rem 0;
  padding: 0 0 0 2rem;
}

  li {
    line-height: 1;
  }



// Blockquotes.
blockquote {

  p:first-child::before,
  p:first-of-type::before {
    content: '\201C';
  }

  p:last-child::after,
  p:last-of-type::after {
    content: '\201D';
  }

}



// Addresses.
address {
  margin-bottom: 1rem;
  
  font-style: normal;
}



// Links.
a {

  &,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }

}
